<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Nodejs Crud</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="col-md-4">
  <a class="navbar-brand" href="#">Node Js Project</a>
</div>
<div class="col-md-8 float-right">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/items/create">Create Item</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/items">Items</a>
      </li>
    </ul>
  </div>
  </div>
</div>
</nav>
    <div class="container">
                <div class="card" style="margin-top:50px">
              <div class="card-header">
                <h3>Create Item</h3>
              </div>
              <div class="card-block">
              <div class="container" style="padding:20px">
                   <table class="table table-border">
                        <thead>
                          <tr>
                            <th>Item Name</th>
                            <th>Item Model</th>
                            <th>Item Price</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for(var i=0; i < items.length; i++) { %>
                          <tr>
                            <td><%= items[i].name %></td>
                            <td><%= items[i].model %></td>
                            <td><%= items[i].price %></td>
                            <td><a href="/items/edit/<%= items[i]._id %>" class="btn btn-primary">Edit</a></td>
                            <td><a href="/items/delete/<%= items[i]._id %>" class="btn btn-danger">Delete</a></td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
